body {
    font-family: "Helvetica", Arial, sans-serif;    
    background-position: center;
    color: #222;
    margin: 0;
    padding: 0;
}

.container {width: 65%;
    margin: 50px auto;
    border: 1px solid #000000;
    padding: 30px;
    border-radius: 8px;
    

h1 {text-align: center;
    font-weight: 500;
    margin-bottom: 25px;}



p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;}

img {width: 100%;
    max-width: 480px;
    display: block;
    margin: 25px auto 0 auto;
    border-radius: 4px;
    border: 1px solid #dcdcdc;}


}