body {
  background-color: lightblue;
}

h1 {
  color: rgb(13, 13, 224);
  margin-left: 20px;

  .center {
    text-align: center;
    color: rgb(178, 0, 233);
  }

body {
  background-image: url("https://images.hdqwalls.com/wallpapers/lebron-james-2020-bj.jpg");
}

.center {
  text-align: center;
  color: rgb(178, 0, 233);


}

}