* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
  background-color: #000; 
  color: white;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'facts'
    'footer';
  gap: 10px;  
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: purple;
  text-align: center;
  color: #FFD700; 
  padding: 20px;
}

.header > h1 {
  font-size: 40px;
  font-weight: bold;
}

.menu {
  grid-area: menu;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
  margin-bottom: 7px;
  background-color: #552583; 
  color: #FFD700;
  border-radius: 5px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #7d3fc1;
}

.content {
  grid-area: main;
  background-image: -moz-repeating-linear-gradient('https://th.bing.com/th/id/OIP.5S5-KpqnfpM4vhBqv93iRQHaHa?w=187&h=186&c=7&r=0&o=7&pid=1.7&rm=3');
}

.content > h1 {
  font-size: 30px;
  margin-bottom: 7px;
  color: #FFD700;
}


.lb-image {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  border: 2px solid #FFD700;
}

.content > p {
  margin-bottom: 10px;
}

.facts {
  grid-area: facts;
  border: 1px solid #FFD700;
  background-color: #222;
  padding: 12px;
  border-radius: 10px;
}

.facts > h2 {
  font-size: 22px;
  color: #FFD700;
}

.facts li {
  margin-bottom: 6px;
}

.footer {
  grid-area: footer;
  background-color: #552583;
  color: #FFD700;
  text-align: center;
  padding: 10px;
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}
